@{
    Layout = null;
}
<div ng-controller="SectionsViewCtrl">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <label>Resultado da sessão</label>
                    <br />
                    <h3 class="card-title"
                        style="display:inline">
                        <i class="tim-icons icon-coins text-info"></i>
                        {{SectionData.Result | currency : SectionData.CurrencyName + ' ' : 2}}
                    </h3>
                    <h5 ng-class="{'text-success': SectionData.Result > 0, 'text-danger': SectionData.Result < 0}"
                        style="display:inline">
                        ({{SectionData.Percentage.toFixed(2)}}%)
                    </h5>
                </div>
                <div class="card-body">
                    <div class="chart-area" id="sectionResultChart"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <label>Win / loss</label>
                    <h3 class="card-title">
                        <i class="tim-icons icon-minimal-up text-success"></i> {{SectionData.TotalWin}}
                        &nbsp;&nbsp;&nbsp;
                        <i class="tim-icons icon-minimal-down text-danger"></i> {{SectionData.TotalLoss}}
                    </h3>
                </div>
                <div class="card-body">
                    <div class="chart-area" id="winAndLossChart"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <label>Número de operações</label>
                    <h3 class="card-title"><i class="tim-icons icon-money-coins text-info"></i> {{SectionData.TotalEntries}}</h3>
                </div>
                <div class="card-body">
                    <div class="chart-area" id="entriesChart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        Operações
                    </h4>
                </div>
                <div class="card-body">
                    <button type="button"
                            ng-click="addEntry()"
                            class="btn btn-sm btn-fill btn-info"
                            style="margin-right: 10px">
                        + Nova entrada
                    </button>
                    <span type="button"
                          class="btn btn-sm btn-fill btn-info btn-file"
                          style="margin-right: 10px">
                        Importar CSV
                        <input type="file" file-reader="fileContent" />
                    </span>
                    <a href="/#/accounts/{{accountId}}" class="btn btn-sm btn-fill btn-info">
                        Voltar para lista
                    </a>
                    <table class="table tablesorter">
                        <thead class=" text-primary">
                            <tr>
                                <th style="width: 200px">
                                    Data
                                </th>
                                <th>
                                    Paridade
                                </th>
                                <th>
                                    Win / loss
                                </th>
                                <th class="text-center">
                                    Resultado
                                </th>
                                <th class="text-center">
                                    %
                                </th>
                                <th style="width: 110px">
                                    Ações
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entry in entries">
                                <td>
                                    {{entry.DateAndTime | date:"dd/MM/yyyy HH:mm"}}
                                </td>
                                <td>
                                    {{entry.ParityName}}
                                </td>
                                <td>
                                    <span ng-class="{'text-success': entry.Win, 'text-danger': !entry.Win}">
                                        {{entry.Win ? 'WIN' : 'LOSS'}}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span ng-class="{'text-success': entry.Win, 'text-danger': !entry.Win}">
                                        {{entry.Result | currency : SectionData.CurrencyName : 2}}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <span ng-class="{'text-success': entry.Win, 'text-danger': !entry.Win}">
                                        {{entry.Percentage.toFixed(2)}}%
                                    </span>
                                </td>
                                <td>
                                    <button type="button"
                                            class="btn btn-link text-info"
                                            ng-click="editEntry(entry.EntryId)">
                                        <i class="tim-icons icon-pencil"></i>
                                    </button>
                                    <button type="button"
                                            class="btn btn-link text-danger"
                                            ng-click="deleteEntry(entry.EntryId)">
                                        <i class="tim-icons icon-trash-simple"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center" ng-if="!entries.length">
                        <label>Nenhuma operação cadastrada.</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        Descrição da sessão
                    </h4>
                    <a href="/#/accounts/{{accountId}}" class="close">
                        <i class="tim-icons icon-simple-remove"></i>
                    </a>
                    <button type="button"
                            class="text-danger close"
                            style="margin-right: 10px"
                            ng-click="delete()">
                        <i class="tim-icons icon-trash-simple"></i>
                    </button>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <textarea rows="5"
                                      class="form-control"
                                      ng-model="SectionData.Summary"
                                      ng-blur="save()"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 ng-repeat="entry in entries | orderBy:'-'"
                                ng-if="entry.Summary">
                                <b>Operação #{{$index + 1}}:</b>
                                {{entry.Summary}}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <loading-indicator busy="showLoadingIndicator"></loading-indicator>
</div>
